<ul class="container mx-auto leading-none divide-y divide-gray-400 divide-dotted" style="font-family: Raleway">
  <li class="flex items-center justify-between px-4 py-2">
    <div>
      <div class="text-xs align-middle mb-2">Rex</div>
      <div class="text-xs font-mono font-light leading-tight text-gray-500"><span class="font-bold">font-size:</span>: 0.75rem; <span class="font-bold">line-height:</span>: 1rem;</div>
    </div>
    <div class="text-xs font-semibold font-mono whitespace-nowrap px-2 py-1 ml-5 rounded text-white bg-pink-500 rounded-2">text-xs</div>
  </li>
  <li class="flex items-center justify-between px-4 py-2">
    <div>
      <div class="text-sm align-middle mb-2">Dolores</div>
      <div class="text-xs font-mono font-light leading-tight text-gray-500"><span class="font-bold">font-size:</span>: 0.875rem; <span class="font-bold">line-height:</span>: 1.25rem;</div>
    </div>
    <div class="text-xs font-semibold font-mono whitespace-nowrap px-2 py-1 ml-5 rounded text-white bg-pink-500 rounded-2">text-sm</div>
  </li>
  <li class="flex items-center justify-between px-4 py-2">
    <div>
      <div class="text-base align-middle mb-2">Bubbles</div>
      <div class="text-xs font-mono font-light leading-tight text-gray-500"><span class="font-bold">font-size:</span>: 1rem; <span class="font-bold">line-height:</span>: 1.5rem;</div>
    </div>
    <div class="text-xs font-semibold font-mono whitespace-nowrap px-2 py-1 ml-5 rounded text-white bg-pink-500 rounded-2">text-base</div>
  </li>
  <li class="flex items-center justify-between px-4 py-2">
    <div>
      <div class="text-lg align-middle mb-2">Fred</div>
      <div class="text-xs font-mono font-light leading-tight text-gray-500"><span class="font-bold">font-size:</span>: 1.125rem; <span class="font-bold">line-height:</span>: 1.75rem;</div>
    </div>
    <div class="text-xs font-semibold font-mono whitespace-nowrap px-2 py-1 ml-5 rounded text-white bg-pink-500 rounded-2">text-lg</div>
  </li>
  <li class="flex items-center justify-between px-4 py-2">
    <div>
      <div class="text-xl align-middle mb-2">Rivet</div>
      <div class="text-xs font-mono font-light leading-tight text-gray-500"><span class="font-bold">font-size:</span>: 1.25rem; <span class="font-bold">line-height:</span>: 1.75rem;</div>
    </div>
    <div class="text-xs font-medium font-mono whitespace-nowrap px-2 py-1 ml-5 rounded text-white bg-pink-500 rounded-2">text-xl</div>
  </li>
  <li class="flex items-center justify-between px-4 py-2">
    <div>
      <div class="text-2xl align-middle mb-2">Eileen</div>
      <div class="text-xs font-mono font-light leading-tight text-gray-500"><span class="font-bold">font-size:</span>: 1.5rem; <span class="font-bold">line-height:</span>: 2rem;</div>
    </div>
    <div class="text-xs font-semibold font-mono whitespace-nowrap px-2 py-1 ml-5 rounded text-white bg-pink-500 rounded-2">text-2xl</div>
  </li>
  <li class="flex items-center justify-between px-4 py-2">
    <div>
      <div class="text-3xl align-middle mb-2">Belle</div>
      <div class="text-xs font-mono font-light leading-tight text-gray-500"><span class="font-bold">font-size:</span>: 1.875rem; <span class="font-bold">line-height:</span>: 2.25rem;</div>
    </div>
    <div class="text-xs font-semibold font-mono whitespace-nowrap px-2 py-1 ml-5 rounded text-white bg-pink-500 rounded-2">text-3xl</div>
  </li>
  <li class="flex items-center justify-between px-4 py-2">
    <div>
      <div class="text-4xl align-middle mb-2">Cosmo</div>
      <div class="text-xs font-mono font-light leading-tight text-gray-500"><span class="font-bold">font-size:</span>: 2.25rem; <span class="font-bold">line-height:</span>: 2.5rem;</div>
    </div>
    <div class="text-xs font-semibold font-mono whitespace-nowrap px-2 py-1 ml-5 rounded text-white bg-pink-500 rounded-2">text-4xl</div>
  </li>
  <li class="flex items-center justify-between px-4 py-2">
    <div>
      <div class="text-5xl align-middle mb-2">Dolly</div>
      <div class="text-xs font-mono font-light leading-tight text-gray-500"><span class="font-bold">font-size:</span>: 3rem; <span class="font-bold">line-height:</span>: 1;</div>
    </div>
    <div class="text-xs font-semibold font-mono whitespace-nowrap px-2 py-1 ml-5 rounded text-white bg-pink-500 rounded-2">text-5xl</div>
  </li>
  <li class="flex items-center justify-between px-4 py-2">
    <div>
      <div class="text-6xl align-middle mb-2">Sergeant</div>
      <div class="text-xs font-mono font-light leading-tight text-gray-500"><span class="font-bold">font-size:</span>: 3.75rem; <span class="font-bold">line-height:</span>: 1rem;</div>
    </div>
    <div class="text-xs font-semibold font-mono whitespace-nowrap px-2 py-1 ml-5 rounded text-white bg-pink-500 rounded-2">text-6xl</div>
  </li>
  <li class="flex items-center justify-between px-4 py-2">
    <div>
      <div class="text-7xl align-middle mb-2">Oscar</div>
      <div class="text-xs font-mono font-light leading-tight text-gray-500"><span class="font-bold">font-size:</span>: 4.5rem; <span class="font-bold">line-height:</span>: 1rem;</div>
    </div>
    <div class="text-xs font-semibold font-mono whitespace-nowrap px-2 py-1 ml-5 rounded text-white bg-pink-500 rounded-2">text-7xl</div>
  </li>
  <li class="flex items-center justify-between px-4 py-2">
    <div>
      <div class="text-8xl align-middle mb-2">Levi</div>
      <div class="text-xs font-mono font-light leading-tight text-gray-500"><span class="font-bold">font-size:</span>: 6rem; <span class="font-bold">line-height:</span>: 1rem;</div>
    </div>
    <div class="text-xs font-semibold font-mono whitespace-nowrap px-2 py-1 ml-5 rounded text-white bg-pink-500 rounded-2">text-8xl</div>
  </li>
  <li class="flex items-center justify-between px-4 py-2">
    <div>
      <div class="text-9xl align-middle mb-2">Elton</div>
      <div class="text-xs font-mono font-light leading-tight text-gray-500"><span class="font-bold">font-size:</span>: 8rem; <span class="font-bold">line-height:</span>: 1rem;</div>
    </div>
    <div class="text-xs font-semibold font-mono whitespace-nowrap px-2 py-1 ml-5 rounded text-white bg-pink-500 rounded-2">text-9xl</div>
  </li>
</ul>
<br />
<hr>
<br />
<ul class="container mx-auto leading-none divide-y divide-gray-400 divide-dotted" style="font-family: Raleway">
    <li class="flex items-center justify-between px-4 py-2">
      <div>
        <div class="font-thin text-5xl align-middle mb-2">Rex</div>
        <div class="text-xs font-mono font-light leading-tight text-gray-500 mt-2"><span class="font-bold">font-weight</span>: 100</div>
      </div>
      <div class="text-xs font-semibold font-mono whitespace-nowrap px-2 py-1 rounded text-white bg-pink-500 rounded-2">font-thin</div>
    </li>
    <li class="flex items-center justify-between px-4 py-2">
      <div>
        <div class="font-extralight text-5xl align-middle mb-2">Dolores</div>
        <div class="text-xs font-mono font-light leading-tight text-gray-500 mt-2"><span class="font-bold">font-weight</span>: 200</div>
      </div>
      <div class="text-xs font-semibold font-mono whitespace-nowrap px-2 py-1 rounded text-white bg-pink-500 rounded-2">font-extralight</div>
    </li>
    <li class="flex items-center justify-between px-4 py-2">
      <div>
        <div class="font-light text-5xl align-middle mb-2">Bubbles</div>
        <div class="text-xs font-mono font-light leading-tight text-gray-500 mt-2"><span class="font-bold">font-weight</span>: 300</div>
      </div>
      <div class="text-xs font-semibold font-mono whitespace-nowrap px-2 py-1 rounded text-white bg-pink-500 rounded-2">font-light</div>
    </li>
    <li class="flex items-center justify-between px-4 py-2">
      <div>
        <div class="font-normal text-5xl align-middle mb-2">Fred</div>
        <div class="text-xs font-mono font-light leading-tight text-gray-500 mt-2"><span class="font-bold">font-weight</span>: 400</div>
      </div>
      <div class="text-xs font-semibold font-mono whitespace-nowrap px-2 py-1 rounded text-white bg-pink-500 rounded-2">font-normal</div>
    </li>
    <li class="flex items-center justify-between px-4 py-2">
      <div>
        <div class="font-medium text-5xl align-middle mb-2">Rivet</div>
        <div class="text-xs font-mono font-light leading-tight text-gray-500 mt-2"><span class="font-bold">font-weight</span>: 500</div>
      </div>
      <div class="text-xs font-medium font-mono whitespace-nowrap px-2 py-1 rounded text-white bg-pink-500 rounded-2">font-medium</div>
    </li>
    <li class="flex items-center justify-between px-4 py-2">
      <div>
        <div class="font-semibold text-5xl align-middle mb-2">Eileen</div>
        <div class="text-xs font-mono font-light leading-tight text-gray-500 mt-2"><span class="font-bold">font-weight</span>: 600</div>
      </div>
      <div class="text-xs font-semibold font-mono whitespace-nowrap px-2 py-1 rounded text-white bg-pink-500 rounded-2">font-semibold</div>
    </li>
    <li class="flex items-center justify-between px-4 py-2">
      <div>
        <div class="font-bold text-5xl align-middle mb-2">Belle</div>
        <div class="text-xs font-mono font-light leading-tight text-gray-500 mt-2"><span class="font-bold">font-weight</span>: 700</div>
      </div>
      <div class="text-xs font-semibold font-mono whitespace-nowrap px-2 py-1 rounded text-white bg-pink-500 rounded-2">font-bold</div>
    </li>
    <li class="flex items-center justify-between px-4 py-2">
      <div>
        <div class="font-extrabold text-5xl align-middle mb-2">Cosmo</div>
        <div class="text-xs font-mono font-light leading-tight text-gray-500 mt-2"><span class="font-bold">font-weight</span>: 800</div>
      </div>
      <div class="text-xs font-semibold font-mono whitespace-nowrap px-2 py-1 rounded text-white bg-pink-500 rounded-2">font-extrabold</div>
    </li>
    <li class="flex items-center justify-between px-4 py-2">
      <div>
        <div class="font-black text-5xl align-middle mb-2">Dolly</div>
        <div class="text-xs font-mono font-light leading-tight text-gray-500 mt-2"><span class="font-bold">font-weight</span>: 900</div>
      </div>
      <div class="text-xs font-semibold font-mono whitespace-nowrap px-2 py-1 rounded text-white bg-pink-500 rounded-2">font-black</div>
    </li>
  </ul>
  <br>
  <hr>
  <br>
  <ul class="container mx-auto leading-none divide-y divide-gray-400 divide-dotted" style="font-family: Raleway">
    <li class="flex items-center justify-between px-4 py-2">
      <div>
        <div class="italic font-light text-6xl align-middle mb-2">Eileen</div>
        <div class="text-xs font-mono font-light leading-tight text-gray-500 mt-2"><span class="font-bold">font-style</span>: italic</div>
      </div>
      <div class="text-xs font-semibold font-mono whitespace-nowrap px-2 py-1 ml-5 rounded text-white bg-pink-500 rounded-2">font-italic</div>
    </li>
    <li class="flex items-center justify-between px-4 py-2">
      <div>
        <i class="not-italic block font-light text-6xl align-middle mb-2">Dolores</i>
        <div class="text-xs font-mono font-light leading-tight text-gray-500 mt-2"><span class="font-bold">font-style</span>: normal</div>
      </div>
      <div class="text-xs font-semibold font-mono whitespace-nowrap px-2 py-1 ml-5 rounded text-white bg-pink-500 rounded-2">not-italic</div>
    </li>
  </ul>
  <br>
  <hr>
  <br>
  <ul class="container mx-auto divide-y divide-gray-400 divide-dotted" style="font-family: Raleway">

    <li class="flex items-center justify-between px-4 py-2">
      <div class="antialiased">
        <div class="font-light text-4xl align-middle mb-2">Sergeant</div>
        <p class="text-md">Sergeant is always nearby to lend a helping claw to his fellow factory automation friends. Being able to pull 2000 pounds has its distinct advantages, and Sergeant is never bored. He also serves the City of Binaryville as an emergency services volunteer. His strength, determination, and kindness have saved the day on many occasions.</p>
        <div class="text-xs font-mono font-light text-gray-500 mt-2"><span class="font-bold">-webkit-font-smoothing</span>: antialiased;<br><span class="font-bold">-moz-osx-font-smoothing</span>: grayscale;</div>
      </div>
      <div class="text-xs font-semibold font-mono whitespace-nowrap px-2 py-1 ml-5 rounded text-white bg-pink-500 rounded-2">antialiased</div>
    </li>
  
    <li class="flex items-center justify-between px-4 py-2">
      <div class="subpixel-antialiased">
        <div class="font-light text-4xl align-middle mb-2">Sergeant</div>
        <p class="text-md">Sergeant is always nearby to lend a helping claw to his fellow factory automation friends. Being able to pull 2000 pounds has its distinct advantages, and Sergeant is never bored. He also serves the City of Binaryville as an emergency services volunteer. His strength, determination, and kindness have saved the day on many occasions.</p>
        <div class="text-xs font-mono font-light text-gray-500 mt-2"><span class="font-bold">-webkit-font-smoothing</span>: auto;<br><span class="font-bold">-moz-osx-font-smoothing</span>: auto;</div>
      </div>
      <div class="text-xs font-semibold font-mono whitespace-nowrap px-2 py-1 ml-5 rounded text-white bg-pink-500 rounded-2">subpixel-antialiased</div>
    </li>
  
  </ul>
  <br>
  <hr>
  <br>
  <ul class="container mx-auto divide-y divide-gray-400 divide-dotted">
    <li class="flex items-center justify-between px-4 py-2">
      <div>
        <div class="font-sans font-light text-4xl align-middle mb-2" style="font-family: 'Source Sans Pro'">42nd</div>
        <div class="text-xs font-mono font-light text-gray-500 mt-2"><span class="font-bold">font-variant-numeric: </span>: normal</div>
      </div>
      <div class="text-xs font-semibold font-mono whitespace-nowrap px-2 py-1 ml-5 rounded text-white bg-pink-500 rounded-2">normal-nums</div>
    </li>
  
    <li class="flex items-center justify-between px-4 py-2">
      <div>
        <div class="ordinal font-sans font-light text-4xl align-middle mb-2" style="font-family: 'Source Sans Pro'">42nd</div>
        <div class="text-xs font-mono text-gray-500 mt-2"><span class="font-bold">font-variant-numeric</span>: ordinal</div>
      </div>
      <div class="text-xs font-semibold font-mono whitespace-nowrap px-2 py-1 ml-5 rounded text-white bg-pink-500 rounded-2">ordinal</div>
    </li>
  
    <li class="flex items-center justify-between px-4 py-2">
      <div>
        <div class="slashed-zero font-sans font-light text-4xl align-middle mb-2" style="font-family: 'Source Sans Pro'">20,000</div>
        <div class="text-xs font-mono font-light text-gray-500 mt-2"><span class="font-bold">font-variant-numeric</span>: slashed-zero</div>
      </div>
      <div class="text-xs font-semibold font-mono whitespace-nowrap px-2 py-1 ml-5 rounded text-white bg-pink-500 rounded-2">slashed-zero</div>
    </li>
  
    <li class="flex items-center justify-between px-4 py-2">
      <div>
        <div class="slashed-zero font-sans font-light text-4xl align-middle mb-2" style="font-family: 'Source Sans Pro'">802,701</div>
        <div class="text-xs font-mono font-light text-gray-500 mt-2"><span class="font-bold">font-variant-numeric</span>: lining-nums</div>
      </div>
      <div class="text-xs font-semibold font-mono whitespace-nowrap px-2 py-1 ml-5 rounded text-white bg-green-500 rounded-2">lining-nums</div>
    </li>
  
    <li class="flex items-center justify-between px-4 py-2">
      <div>
        <div class="oldstyle-nums font-sans font-light text-4xl align-middle mb-2" style="font-family: 'Source Sans Pro'">299,792,458</div>
        <div class="text-xs font-mono font-light text-gray-500 mt-2"><span class="font-bold">font-variant-numeric</span>: oldstyle-nums</div>
      </div>
      <div class="text-xs font-semibold font-mono whitespace-nowrap px-2 py-1 ml-5 rounded text-white bg-green-500 rounded-2">oldstyle-nums</div>
    </li>
  
    <li class="flex items-center justify-between px-4 py-2">
      <div>
        <div class="proportional-nums font-sans font-light text-4xl align-middle" style="font-family: 'Source Sans Pro'">01-01-1885</div>
        <div class="proportional-nums font-sans font-light text-4xl align-middle mb-2" style="font-family: 'Source Sans Pro'">11-12-1955</div>
        <div class="text-xs font-mono font-light text-gray-500 mt-2"><span class="font-bold">font-variant-numeric</span>: proportional-nums</div>
      </div>
      <div class="text-xs font-semibold font-mono whitespace-nowrap px-2 py-1 ml-5 rounded text-white bg-blue-500 rounded-2">proportional-nums</div>
    </li>
  
    <li class="flex items-center justify-between px-4 py-2">
      <div>
        <div class="tabular-nums font-sans font-light text-4xl align-middle" style="font-family: 'Source Sans Pro'">01-01-1885</div>
        <div class="tabular-nums font-sans font-light text-4xl align-middle mb-2" style="font-family: 'Source Sans Pro'">11-12-1955</div>
        <div class="text-xs font-mono font-light text-gray-500 mt-2"><span class="font-bold">font-variant-numeric</span>: tabular-nums</div>
      </div>
      <div class="text-xs font-semibold font-mono whitespace-nowrap px-2 py-1 ml-5 rounded text-white bg-blue-500 rounded-2">tabular-nums</div>
    </li>
  
  
    <li class="flex items-center justify-between px-4 py-2">
      <div>
        <div class="diagonal-fractions font-sans font-light  text-4xl align-middle mb-2">1/2</div>
        <div class="text-xs font-mono font-light text-gray-500 mt-2"><span class="font-bold">font-variant-numeric</span>: diagonal-fractions</div>
      </div>
      <div class="text-xs font-semibold font-mono whitespace-nowrap px-2 py-1 ml-5 rounded text-white bg-yellow-400 rounded-2">diagonal-fractions</div>
    </li>
  
    <li class="flex items-center justify-between px-4 py-2">
      <div>
        <div class="stacked-fractions font-mono font-light  text-4xl align-middle mb-2" style="font-family: 'Ubuntu Mono'">1/2</div>
        <div class="text-xs font-mono font-light text-gray-500 mt-2"><span class="font-bold">font-variant-numeric</span>: stacked-fractions</div>
      </div>
      <div class="text-xs font-semibold font-mono whitespace-nowrap px-2 py-1 ml-5 rounded text-white bg-yellow-400 rounded-2">stacked-fractions</div>
    </li>
  
  </ul>
  