<ul class="container mx-auto" style="font-family: Raleway">
    <li class="flex items-center justify-between px-4 py-2">
      <div>
        <div class="divide-y-2">
          <div class="text-center py-3">Fred</div>
          <div class="text-center py-3">Rivet</div>
          <div class="text-center py-3">Eileen</div>
          <div class="text-center py-3">Belle</div>
          <div class="text-center py-3">Cosmo</div>
          <div class="text-center py-3">Dolly</div>
        </div>
        <div class="text-xs font-mono font-light text-gray-500 mt-4"><span class="font-bold">border</span>: VARIED</div>
      </div>
      <div class="ml-5 text-right">
        <div class="text-xs font-semibold inline-block font-mono whitespace-nowrap px-2 py-1 rounded text-white bg-pink-500 rounded-2">divide-(DIR)(-STR)</div>
        <div class="text-xs font-mono text-gray-500"><b class="text-black mt-3 inline-block">DIR</b><br>x y</div>
        <div class="text-xs font-mono text-gray-500"><b class="text-black mt-3 inline-block">STR</b><br>0 2 4 8 reverse</div>
      </div>
    </li>
  </ul>
  <br>
  <hr>
  <br>
  <ul class="container mx-auto divide-y divide-gray-400 divide-dotted">
    <li class="flex items-center justify-between px-4 py-2">
      <div>
        <div class="divide-opacity-0 divide-x-4 divide-red-500">
          <span class="text-center px-3">Fred</span>
          <span class="text-center px-3">Rivet</span>
          <span class="text-center px-3">Eileen</span>
        </div>
      </div>
      <div class="text-xs font-semibold font-mono whitespace-nowrap px-2 py-1 ml-2 rounded text-white bg-pink-500 rounded-2">divide-opacity-0</div>
    </li>
    <li class="flex items-center justify-between px-4 py-2">
      <div>
        <div class="divide-opacity-5 divide-x-4 divide-red-500">
          <span class="text-center px-3">Fred</span>
          <span class="text-center px-3">Rivet</span>
          <span class="text-center px-3">Eileen</span>
        </div>
      </div>
      <div class="text-xs font-semibold font-mono whitespace-nowrap px-2 py-1 ml-2 rounded text-white bg-pink-500 rounded-2">divide-opacity-5</div>
    </li>
    <li class="flex items-center justify-between px-4 py-2">
      <div>
        <div class="divide-opacity-10 divide-x-4 divide-red-500">
          <span class="text-center px-3">Fred</span>
          <span class="text-center px-3">Rivet</span>
          <span class="text-center px-3">Eileen</span>
        </div>
      </div>
      <div class="text-xs font-semibold font-mono whitespace-nowrap px-2 py-1 ml-2 rounded text-white bg-pink-500 rounded-2">divide-opacity-10</div>
    </li>
    <li class="flex items-center justify-between px-4 py-2">
      <div>
        <div class="divide-opacity-20 divide-x-4 divide-red-500">
          <span class="text-center px-3">Fred</span>
          <span class="text-center px-3">Rivet</span>
          <span class="text-center px-3">Eileen</span>
        </div>
      </div>
      <div class="text-xs font-semibold font-mono whitespace-nowrap px-2 py-1 ml-2 rounded text-white bg-pink-500 rounded-2">divide-opacity-20</div>
    </li>
    <li class="flex items-center justify-between px-4 py-2">
      <div>
        <div class="divide-opacity-25 divide-x-4 divide-red-500">
          <span class="text-center px-3">Fred</span>
          <span class="text-center px-3">Rivet</span>
          <span class="text-center px-3">Eileen</span>
        </div>
      </div>
      <div class="text-xs font-semibold font-mono whitespace-nowrap px-2 py-1 ml-2 rounded text-white bg-pink-500 rounded-2">divide-opacity-25</div>
    </li>
    <li class="flex items-center justify-between px-4 py-2">
      <div>
        <div class="divide-opacity-30 divide-x-4 divide-red-500">
          <span class="text-center px-3">Fred</span>
          <span class="text-center px-3">Rivet</span>
          <span class="text-center px-3">Eileen</span>
        </div>
      </div>
      <div class="text-xs font-semibold font-mono whitespace-nowrap px-2 py-1 ml-2 rounded text-white bg-pink-500 rounded-2">divide-opacity-30</div>
    </li>
    <li class="flex items-center justify-between px-4 py-2">
      <div>
        <div class="divide-opacity-40 divide-x-4 divide-red-500">
          <span class="text-center px-3">Fred</span>
          <span class="text-center px-3">Rivet</span>
          <span class="text-center px-3">Eileen</span>
        </div>
      </div>
      <div class="text-xs font-semibold font-mono whitespace-nowrap px-2 py-1 ml-2 rounded text-white bg-pink-500 rounded-2">divide-opacity-40</div>
    </li>
    <li class="flex items-center justify-between px-4 py-2">
      <div>
        <div class="divide-opacity-50 divide-x-4 divide-red-500">
          <span class="text-center px-3">Fred</span>
          <span class="text-center px-3">Rivet</span>
          <span class="text-center px-3">Eileen</span>
        </div>
      </div>
      <div class="text-xs font-semibold font-mono whitespace-nowrap px-2 py-1 ml-2 rounded text-white bg-pink-500 rounded-2">divide-opacity-50</div>
    </li>
    <li class="flex items-center justify-between px-4 py-2">
      <div>
        <div class="divide-opacity-60 divide-x-4 divide-red-500">
          <span class="text-center px-3">Fred</span>
          <span class="text-center px-3">Rivet</span>
          <span class="text-center px-3">Eileen</span>
        </div>
      </div>
      <div class="text-xs font-semibold font-mono whitespace-nowrap px-2 py-1 ml-2 rounded text-white bg-pink-500 rounded-2">divide-opacity-60</div>
    </li>
    <li class="flex items-center justify-between px-4 py-2">
      <div>
        <div class="divide-opacity-70 divide-x-4 divide-red-500">
          <span class="text-center px-3">Fred</span>
          <span class="text-center px-3">Rivet</span>
          <span class="text-center px-3">Eileen</span>
        </div>
      </div>
      <div class="text-xs font-semibold font-mono whitespace-nowrap px-2 py-1 ml-2 rounded text-white bg-pink-500 rounded-2">divide-opacity-70</div>
    </li>
    <li class="flex items-center justify-between px-4 py-2">
      <div>
        <div class="divide-opacity-75 divide-x-4 divide-red-500">
          <span class="text-center px-3">Fred</span>
          <span class="text-center px-3">Rivet</span>
          <span class="text-center px-3">Eileen</span>
        </div>
      </div>
      <div class="text-xs font-semibold font-mono whitespace-nowrap px-2 py-1 ml-2 rounded text-white bg-pink-500 rounded-2">divide-opacity-75</div>
    </li>
    <li class="flex items-center justify-between px-4 py-2">
      <div>
        <div class="divide-opacity-80 divide-x-4 divide-red-500">
          <span class="text-center px-3">Fred</span>
          <span class="text-center px-3">Rivet</span>
          <span class="text-center px-3">Eileen</span>
        </div>
      </div>
      <div class="text-xs font-semibold font-mono whitespace-nowrap px-2 py-1 ml-2 rounded text-white bg-pink-500 rounded-2">divide-opacity-80</div>
    </li>
    <li class="flex items-center justify-between px-4 py-2">
      <div>
        <div class="divide-opacity-90 divide-x-4 divide-red-500">
          <span class="text-center px-3">Fred</span>
          <span class="text-center px-3">Rivet</span>
          <span class="text-center px-3">Eileen</span>
        </div>
      </div>
      <div class="text-xs font-semibold font-mono whitespace-nowrap px-2 py-1 ml-2 rounded text-white bg-pink-500 rounded-2">divide-opacity-90</div>
    </li>
    <li class="flex items-center justify-between px-4 py-2">
      <div>
        <div class="divide-opacity-95 divide-x-4 divide-red-500">
          <span class="text-center px-3">Fred</span>
          <span class="text-center px-3">Rivet</span>
          <span class="text-center px-3">Eileen</span>
        </div>
      </div>
      <div class="text-xs font-semibold font-mono whitespace-nowrap px-2 py-1 ml-5 rounded text-white bg-pink-500 rounded-2">divide-opacity-95</div>
    </li>
    <li class="flex items-center justify-between px-4 py-2">
      <div>
        <div class="divide-opacity-100 divide-x-4 divide-red-500">
          <span class="text-center px-3">Fred</span>
          <span class="text-center px-3">Rivet</span>
          <span class="text-center px-3">Eileen</span>
        </div>
      </div>
      <div class="text-xs font-semibold font-mono whitespace-nowrap px-2 py-1 ml-2 rounded text-white bg-pink-500 rounded-2">divide-opacity-100</div>
    </li>
  </ul>
  <br>
  <hr>
  <br>
  <ul class="container mx-auto divide-y divide-gray-400 divide-dotted">
    <li class="flex items-center justify-between pl-4 py-2">
      <div>
        <div class="divide-gray-500 py-3 divide-x-4">
          <span class="text-center px-3">Fred</span>
          <span class="text-center px-3">Rivet</span>
          <span class="text-center px-3">Eileen</span>
        </div>
        <div class="divide-red-500 py-3 divide-x-4">
          <span class="text-center px-3">Fred</span>
          <span class="text-center px-3">Rivet</span>
          <span class="text-center px-3">Eileen</span>
        </div>
        <div class="divide-yellow-500 py-3 divide-x-4">
          <span class="text-center px-3">Fred</span>
          <span class="text-center px-3">Rivet</span>
          <span class="text-center px-3">Eileen</span>
        </div>
        <div class="divide-green-500 py-3 divide-x-4">
          <span class="text-center px-3">Fred</span>
          <span class="text-center px-3">Rivet</span>
          <span class="text-center px-3">Eileen</span>
        </div>
        <div class="divide-blue-500 py-3 divide-x-4">
          <span class="text-center px-3">Fred</span>
          <span class="text-center px-3">Rivet</span>
          <span class="text-center px-3">Eileen</span>
        </div>
        <div class="divide-indigo-500 py-3 divide-x-4">
          <span class="text-center px-3">Fred</span>
          <span class="text-center px-3">Rivet</span>
          <span class="text-center px-3">Eileen</span>
        </div>
        <div class="divide-purple-500 py-3 divide-x-4">
          <span class="text-center px-3">Fred</span>
          <span class="text-center px-3">Rivet</span>
          <span class="text-center px-3">Eileen</span>
        </div>
        <div class="divide-pink-500 py-3 divide-x-4">
          <span class="text-center px-3">Fred</span>
          <span class="text-center px-3">Rivet</span>
          <span class="text-center px-3">Eileen</span>
        </div>
      </div>
      <div class="ml-5 text-right">
        <div class="text-xs font-semibold inline-block font-mono whitespace-nowrap px-2 py-1 rounded text-white bg-pink-500 rounded-2">divide-COL-STR</div>
        <div class="text-xs font-mono text-gray-500"><b class="text-black mt-3 inline-block">COL</b><br>transparent current black<br>white gray red<br>yellow green blue<br>indigo purple pink</div>
        <div class="text-xs font-mono text-gray-500"><b class="text-black mt-3 inline-block">STR</b><br>100 200 300<br>400 500 600<br>700 800 900</div>
      </div>
    </li>
  </ul>
  <div class="container mx-auto">
  </div>
  
  <br>
  <hr>
  <br>
  <ul class="container mx-auto divide-y divide-gray-400 divide-dotted">
    <li class="flex items-center justify-between pl-4 py-2">
      <div>
        <div class="divide-solid divide-x-4 divide-indigo-600 py-3">
          <span class="text-center px-3">Fred</span>
          <span class="text-center px-3">Rivet</span>
          <span class="text-center px-3">Eileen</span>
        </div>
        <div class="divide-dashed divide-x-4 divide-indigo-600 py-3">
          <span class="text-center px-3">Fred</span>
          <span class="text-center px-3">Rivet</span>
          <span class="text-center px-3">Eileen</span>
        </div>
        <div class="divide-dotted divide-x-4 divide-indigo-600 py-3">
          <span class="text-center px-3">Fred</span>
          <span class="text-center px-3">Rivet</span>
          <span class="text-center px-3">Eileen</span>
        </div>
        <div class="divide-double divide-x-4 divide-indigo-600 py-3">
          <span class="text-center px-3">Fred</span>
          <span class="text-center px-3">Rivet</span>
          <span class="text-center px-3">Eileen</span>
        </div>
        <div class="divide-none divide-x-4 divide-indigo-600 py-3">
          <span class="text-center px-3">Fred</span>
          <span class="text-center px-3">Rivet</span>
          <span class="text-center px-3">Eileen</span>
        </div>
      </div>
      <div class="ml-5 text-right">
        <div class="text-xs font-semibold inline-block font-mono whitespace-nowrap px-2 py-1 rounded text-white bg-pink-600 rounded-2">divide-STYL</div>
        <div class="text-xs font-mono text-gray-500"><b class="text-black mt-3 inline-block">STYL</b><br>solid dashed dotted double none</div>
      </div>
    </li>
  </ul>
  <div class="container mx-auto">
  </div>
  
  