<ul class="container mx-auto divide-y divide-gray-400 divide-dotted">
    <li class="flex items-center justify-between px-4 py-2">
      <div class="bg-opacity-0 bg-center bg-no-repeat bg-auto h-12 w-full bg-purple-600  flex justify-center items-center text-xl font-bold">Elton</div>
      <div class="text-xs font-semibold font-mono whitespace-nowrap px-2 py-1 ml-2 rounded text-white bg-pink-500 rounded-2">bg-opacity-0</div>
    </li>
    <li class="flex items-center justify-between px-4 py-2">
      <div class="bg-opacity-5 bg-center bg-no-repeat bg-auto h-12 w-full bg-purple-600  flex justify-center items-center text-xl font-bold">Elton</div>
      <div class="text-xs font-semibold font-mono whitespace-nowrap px-2 py-1 ml-2 rounded text-white bg-pink-500 rounded-2">bg-opacity-5</div>
    </li>
    <li class="flex items-center justify-between px-4 py-2">
      <div class="bg-opacity-10 bg-center bg-no-repeat bg-auto h-12 w-full bg-purple-600  flex justify-center items-center text-xl font-bold">Elton</div>
      <div class="text-xs font-semibold font-mono whitespace-nowrap px-2 py-1 ml-2 rounded text-white bg-pink-500 rounded-2">bg-opacity-10</div>
    </li>
    <li class="flex items-center justify-between px-4 py-2">
      <div class="bg-opacity-20 bg-center bg-no-repeat bg-auto h-12 w-full bg-purple-600 flex justify-center items-center text-xl font-bold"><div>Elton</div></div>
      <div class="text-xs font-semibold font-mono whitespace-nowrap px-2 py-1 ml-2 rounded text-white bg-pink-500 rounded-2">bg-opacity-20</div>
    </li>
    <li class="flex items-center justify-between px-4 py-2">
      <div class="bg-opacity-25 bg-center bg-no-repeat bg-auto h-12 w-full bg-purple-600  flex justify-center items-center text-xl font-bold">Elton</div>
      <div class="text-xs font-semibold font-mono whitespace-nowrap px-2 py-1 ml-2 rounded text-white bg-pink-500 rounded-2">bg-opacity-25</div>
    </li>
    <li class="flex items-center justify-between px-4 py-2">
      <div class="bg-opacity-30 bg-center bg-no-repeat bg-auto h-12 w-full bg-purple-600  flex justify-center items-center text-xl font-bold">Elton</div>
      <div class="text-xs font-semibold font-mono whitespace-nowrap px-2 py-1 ml-2 rounded text-white bg-pink-500 rounded-2">bg-opacity-30</div>
    </li>
    <li class="flex items-center justify-between px-4 py-2">
      <div class="bg-opacity-40 bg-center bg-no-repeat bg-auto h-12 w-full bg-purple-600  flex justify-center items-center text-xl font-bold">Elton</div>
      <div class="text-xs font-semibold font-mono whitespace-nowrap px-2 py-1 ml-2 rounded text-white bg-pink-500 rounded-2">bg-opacity-40</div>
    </li>
    <li class="flex items-center justify-between px-4 py-2">
      <div class="bg-opacity-50 bg-center bg-no-repeat bg-auto h-12 w-full bg-purple-600  flex justify-center items-center text-xl font-bold">Elton</div>
      <div class="text-xs font-semibold font-mono whitespace-nowrap px-2 py-1 ml-2 rounded text-white bg-pink-500 rounded-2">bg-opacity-50</div>
    </li>
    <li class="flex items-center justify-between px-4 py-2">
      <div class="bg-opacity-60 bg-center bg-no-repeat bg-auto h-12 w-full bg-purple-600  flex justify-center items-center text-xl font-bold">Elton</div>
      <div class="text-xs font-semibold font-mono whitespace-nowrap px-2 py-1 ml-2 rounded text-white bg-pink-500 rounded-2">bg-opacity-60</div>
    </li>
    <li class="flex items-center justify-between px-4 py-2">
      <div class="bg-opacity-70 bg-center bg-no-repeat bg-auto h-12 w-full bg-purple-600  flex justify-center items-center text-xl font-bold">Elton</div>
      <div class="text-xs font-semibold font-mono whitespace-nowrap px-2 py-1 ml-2 rounded text-white bg-pink-500 rounded-2">bg-opacity-70</div>
    </li>
    <li class="flex items-center justify-between px-4 py-2">
      <div class="bg-opacity-75 bg-center bg-no-repeat bg-auto h-12 w-full bg-purple-600  flex justify-center items-center text-xl font-bold">Elton</div>
      <div class="text-xs font-semibold font-mono whitespace-nowrap px-2 py-1 ml-2 rounded text-white bg-pink-500 rounded-2">bg-opacity-75</div>
    </li>
    <li class="flex items-center justify-between px-4 py-2">
      <div class="bg-opacity-80 bg-center bg-no-repeat bg-auto h-12 w-full bg-purple-600  flex justify-center items-center text-xl font-bold">Elton</div>
      <div class="text-xs font-semibold font-mono whitespace-nowrap px-2 py-1 ml-2 rounded text-white bg-pink-500 rounded-2">bg-opacity-80</div>
    </li>
    <li class="flex items-center justify-between px-4 py-2">
      <div class="bg-opacity-90 bg-center bg-no-repeat bg-auto h-12 w-full bg-purple-600  flex justify-center items-center text-xl font-bold">Elton</div>
      <div class="text-xs font-semibold font-mono whitespace-nowrap px-2 py-1 ml-2 rounded text-white bg-pink-500 rounded-2">bg-opacity-90</div>
    </li>
    <li class="flex items-center justify-between px-4 py-2">
      <div class="bg-opacity-95 bg-center bg-no-repeat bg-auto h-12 w-full bg-purple-600  flex justify-center items-center text-xl font-bold">Elton</div>
      <div class="text-xs font-semibold font-mono whitespace-nowrap px-2 py-1 ml-2 rounded text-white bg-pink-500 rounded-2">bg-opacity-95</div>
    </li>
    <li class="flex items-center justify-between px-4 py-2">
      <div class="bg-opacity-100 bg-center bg-no-repeat bg-auto h-12 w-full bg-purple-600  flex justify-center items-center text-xl font-bold">Elton</div>
      <div class="text-xs font-semibold font-mono whitespace-nowrap px-2 py-1 ml-2 rounded text-white bg-pink-500 rounded-2">bg-opacity-100</div>
    </li>
  </ul>
<br>
<hr>
<br>
<ul class="container mx-auto divide-y divide-gray-400 divide-dotted">
    <li class="flex items-center justify-between py-2">
      <div class="bg-gradient-to-t from-red-600 to-blue-600 h-32 w-full"></div>
      <div class="text-xs font-semibold font-mono whitespace-nowrap px-2 py-1 ml-2 rounded text-white bg-pink-500 rounded-2">bg-gradient-to-t</div>
    </li>
    <li class="flex items-center justify-between py-2">
      <div class="bg-gradient-to-tr from-red-600 to-blue-600 h-32 w-full"></div>
      <div class="text-xs font-semibold font-mono whitespace-nowrap px-2 py-1 ml-2 rounded text-white bg-pink-500 rounded-2">bg-gradient-to-tr</div>
    </li>
    <li class="flex items-center justify-between py-2">
      <div class="bg-gradient-to-r from-red-600 to-blue-600 h-32 w-full"></div>
      <div class="text-xs font-semibold font-mono whitespace-nowrap px-2 py-1 ml-2 rounded text-white bg-pink-500 rounded-2">bg-gradient-to-r</div>
    </li>
    <li class="flex items-center justify-between py-2">
      <div class="bg-gradient-to-br from-red-600 to-blue-600 h-32 w-full"></div>
      <div class="text-xs font-semibold font-mono whitespace-nowrap px-2 py-1 ml-2 rounded text-white bg-pink-500 rounded-2">bg-gradient-to-br</div>
    </li>
    <li class="flex items-center justify-between py-2">
      <div class="bg-gradient-to-b from-red-600 to-blue-600 h-32 w-full"></div>
      <div class="text-xs font-semibold font-mono whitespace-nowrap px-2 py-1 ml-2 rounded text-white bg-pink-500 rounded-2">bg-gradient-to-b</div>
    </li>
    <li class="flex items-center justify-between py-2">
      <div class="bg-gradient-to-bl from-red-600 to-blue-600 h-32 w-full"></div>
      <div class="text-xs font-semibold font-mono whitespace-nowrap px-2 py-1 ml-2 rounded text-white bg-pink-500 rounded-2">bg-gradient-to-bl</div>
    </li>
    <li class="flex items-center justify-between py-2">
      <div class="bg-gradient-to-l from-red-600 to-blue-600 h-32 w-full"></div>
      <div class="text-xs font-semibold font-mono whitespace-nowrap px-2 py-1 ml-2 rounded text-white bg-pink-500 rounded-2">bg-gradient-to-l</div>
    </li>
    <li class="flex items-center justify-between py-2">
      <div class="bg-gradient-to-tl from-red-600 to-blue-600 h-32 w-full"></div>
      <div class="text-xs font-semibold font-mono whitespace-nowrap px-2 py-1 ml-2 rounded text-white bg-pink-500 rounded-2">bg-gradient-to-tl</div>
    </li>
  </ul>
<br>
<hr>
<br>
<ul class="container mx-auto divide-y divide-gray-400 divide-dotted">
    <li class="flex items-center justify-between py-2">
      <div class="from-red-600 bg-gradient-to-r h-32 w-full"></div>
      <div class="text-xs font-semibold font-mono whitespace-nowrap px-2 py-1 ml-2 rounded text-white bg-pink-500 rounded-2">from</div>
    </li>
    <li class="flex items-center justify-between py-2">
      <div class="from-red-600 to-purple-500 bg-gradient-to-r h-32 w-full"></div>
      <div class="text-xs font-semibold font-mono whitespace-nowrap px-2 py-1 ml-2 rounded text-white bg-pink-500 rounded-2">from, to</div>
    </li>
    <li class="flex items-center justify-between py-2">
      <div class="from-red-600 via-yellow-300 to-purple-500 bg-gradient-to-r h-32 w-full"></div>
      <div class="text-xs font-semibold font-mono whitespace-nowrap px-2 py-1 ml-2 rounded text-white bg-pink-500 rounded-2">from, via, to</div>
    </li>
  </ul>
<br>
<hr>
<br>
<ul class="container mx-auto divide-y divide-gray-400 divide-dotted">
    <li class="flex items-center justify-between py-4">
      <div class="bg-auto bg-center bg-no-repeat h-72 w-full bg-green-300 overflow-auto" style="background-image:url('http://pixelprowess.com/i/pow_angle.jpg');"></div>
      <div class="text-xs font-semibold font-mono whitespace-nowrap px-2 py-1 ml-2 rounded text-white bg-pink-500 rounded-2">bg-auto</div>
    </li>
    <li class="flex items-center justify-between py-4">
      <div class="bg-cover bg-center bg-no-repeat h-72 w-full bg-green-300 overflow-auto" style="background-image:url('http://pixelprowess.com/i/pow_angle.jpg');"></div>
      <div class="text-xs font-semibold font-mono whitespace-nowrap px-2 py-1 ml-2 rounded text-white bg-pink-500 rounded-2">bg-cover</div>
    </li>
    <li class="flex items-center justify-between py-4">
      <div class="bg-contain bg-center bg-no-repeat h-72 w-full bg-green-300 overflow-auto" style="background-image:url('http://pixelprowess.com/i/pow_angle.jpg');"></div>
      <div class="text-xs font-semibold font-mono whitespace-nowrap px-2 py-1 ml-2 rounded text-white bg-pink-500 rounded-2">bg-contain</div>
    </li>
  </ul>
<br>
<hr>
<br>
<ul class="container mx-auto divide-y divide-gray-400 divide-dotted">
    <li class="flex items-center justify-between py-4">
      <div class="bg-no-repeat bg-auto bg-center h-72 w-full bg-green-300 overflow-auto" style="background-image:url('http://pixelprowess.com/i/powship.svg');"></div>
      <div class="text-xs font-semibold font-mono whitespace-nowrap px-2 py-1 ml-2 rounded text-white bg-pink-500 rounded-2">bg-no-repeat</div>
    </li>
    <li class="flex items-center justify-between py-4">
      <div class="bg-repeat-x bg-auto bg-center h-72 w-full bg-green-300 overflow-auto" style="background-image:url('http://pixelprowess.com/i/powship.svg');"></div>
      <div class="text-xs font-semibold font-mono whitespace-nowrap px-2 py-1 ml-2 rounded text-white bg-pink-500 rounded-2">bg-repeat-x</div>
    </li>
    <li class="flex items-center justify-between py-4">
      <div class="bg-repeat-y bg-auto bg-center h-72 w-full bg-green-300 overflow-auto" style="background-image:url('http://pixelprowess.com/i/powship.svg');"></div>
      <div class="text-xs font-semibold font-mono whitespace-nowrap px-2 py-1 ml-2 rounded text-white bg-pink-500 rounded-2">bg-repeat-y</div>
    </li>
    <li class="flex items-center justify-between py-4">
      <div class="bg-repeat bg-auto bg-center h-72 w-full bg-green-300 overflow-auto" style="background-image:url('http://pixelprowess.com/i/powship.svg');"></div>
      <div class="text-xs font-semibold font-mono whitespace-nowrap px-2 py-1 ml-2 rounded text-white bg-pink-500 rounded-2">bg-repeat</div>
    </li>
    <li class="flex items-center justify-between py-4">
      <div class="bg-repeat-round bg-auto bg-center h-72 w-full bg-green-300 overflow-auto" style="background-image:url('http://pixelprowess.com/i/powship.svg');"></div>
      <div class="text-xs font-semibold font-mono whitespace-nowrap px-2 py-1 ml-2 rounded text-white bg-pink-500 rounded-2">bg-repeat-round</div>
    </li>
    <li class="flex items-center justify-between py-4">
      <div class="bg-repeat-space bg-auto bg-center h-96 w-full bg-green-300 overflow-auto" style="background-image:url('http://pixelprowess.com/i/powship.svg');"></div>
      <div class="text-xs font-semibold font-mono whitespace-nowrap px-2 py-1 ml-2 rounded text-white bg-pink-500 rounded-2">bg-repeat-space</div>
    </li>
  </ul>
<br>
<hr>
<br>
<ul class="container mx-auto divide-y divide-gray-400 divide-dotted">
    <li class="flex items-center justify-between py-4">
      <div class="bg-bottom bg-no-repeat bg-auto h-64 w-full bg-green-300 overflow-auto" style="background-image:url('http://pixelprowess.com/i/powship.svg');"></div>
      <div class="text-xs font-semibold font-mono whitespace-nowrap px-2 py-1 ml-2 rounded text-white bg-pink-500 rounded-2">bg-bottom</div>
    </li>
    <li class="flex items-center justify-between py-4">
      <div class="bg-center bg-no-repeat bg-auto h-64 w-full bg-green-300 overflow-auto" style="background-image:url('http://pixelprowess.com/i/powship.svg');"></div>
      <div class="text-xs font-semibold font-mono whitespace-nowrap px-2 py-1 ml-2 rounded text-white bg-pink-500 rounded-2">bg-center</div>
    </li>
    <li class="flex items-center justify-between py-4">
      <div class="bg-left bg-no-repeat bg-auto h-64 w-full bg-green-300 overflow-auto" style="background-image:url('http://pixelprowess.com/i/powship.svg');"></div>
      <div class="text-xs font-semibold font-mono whitespace-nowrap px-2 py-1 ml-2 rounded text-white bg-pink-500 rounded-2">bg-left</div>
    </li>
    <li class="flex items-center justify-between py-4">
      <div class="bg-left-bottom bg-no-repeat bg-auto h-64 w-full bg-green-300 overflow-auto" style="background-image:url('http://pixelprowess.com/i/powship.svg');"></div>
      <div class="text-xs font-semibold font-mono whitespace-nowrap px-2 py-1 ml-2 rounded text-white bg-pink-500 rounded-2">bg-left-bottom</div>
    </li>
    <li class="flex items-center justify-between py-4">
      <div class="bg-left-top bg-no-repeat bg-auto h-64 w-full bg-green-300 overflow-auto" style="background-image:url('http://pixelprowess.com/i/powship.svg');"></div>
      <div class="text-xs font-semibold font-mono whitespace-nowrap px-2 py-1 ml-2 rounded text-white bg-pink-500 rounded-2">bg-left-top</div>
    </li>
    <li class="flex items-center justify-between py-4">
      <div class="bg-right bg-no-repeat bg-auto h-64 w-full bg-green-300 overflow-auto" style="background-image:url('http://pixelprowess.com/i/powship.svg');"></div>
      <div class="text-xs font-semibold font-mono whitespace-nowrap px-2 py-1 ml-2 rounded text-white bg-pink-500 rounded-2">bg-right</div>
    </li>
    <li class="flex items-center justify-between py-4">
      <div class="bg-right-bottom bg-no-repeat bg-auto h-64 w-full bg-green-300 overflow-auto" style="background-image:url('http://pixelprowess.com/i/powship.svg');"></div>
      <div class="text-xs font-semibold font-mono whitespace-nowrap px-2 py-1 ml-2 rounded text-white bg-pink-500 rounded-2">bg-right-bottom</div>
    </li>
    <li class="flex items-center justify-between py-4">
      <div class="bg-right-top bg-no-repeat bg-auto h-64 w-full bg-green-300 overflow-auto" style="background-image:url('http://pixelprowess.com/i/powship.svg');"></div>
      <div class="text-xs font-semibold font-mono whitespace-nowrap px-2 py-1 ml-2 rounded text-white bg-pink-500 rounded-2">bg-right-top</div>
    </li>
    <li class="flex items-center justify-between py-4">
      <div class="bg-top bg-no-repeat bg-auto h-64 w-full bg-green-300 overflow-auto" style="background-image:url('http://pixelprowess.com/i/powship.svg');"></div>
      <div class="text-xs font-semibold font-mono whitespace-nowrap px-2 py-1 ml-2 rounded text-white bg-pink-500 rounded-2">bg-top</div>
    </li>
  </ul>
<br>
<hr>
<br>
<ul class="container mx-auto divide-y divide-gray-400 divide-dotted">
    <li class="flex items-center justify-between py-4">
      <div class="bg-origin-border border-dashed p-4 border-8 bg-cover bg-center bg-no-repeat w-72 h-72" style="background-image:url('http://pixelprowess.com/i/swamp_sq.png');"></div>
      <div class="text-xs font-semibold font-mono whitespace-nowrap px-2 py-1 ml-2 rounded text-white bg-pink-500 rounded-2">bg-origin-border</div>
    </li>
    <li class="flex items-center justify-between py-4">
      <div class="bg-origin-padding border-dashed p-4 border-8 bg-cover bg-center bg-no-repeat w-72 h-72" style="background-image:url('http://pixelprowess.com/i/swamp_sq.png');"></div>
      <div class="text-xs font-semibold font-mono whitespace-nowrap px-2 py-1 ml-2 rounded text-white bg-pink-500 rounded-2">bg-origin-padding</div>
    </li>
    <li class="flex items-center justify-between py-4">
      <div class="bg-origin-content border-dashed p-4 border-8 bg-cover bg-center bg-no-repeat w-72 h-72" style="background-image:url('http://pixelprowess.com/i/swamp_sq.png');"></div>
      <div class="text-xs font-semibold font-mono whitespace-nowrap px-2 py-1 ml-2 rounded text-white bg-pink-500 rounded-2">bg-origin-content</div>
    </li>
  </ul>
  
<br>
<hr>
<br>
<ul class="container mx-auto divide-y divide-gray-400 divide-dotted" style="font-family: Raleway">

    <li class="flex items-center justify-between px-4 py-2">
      <div class="antialiased text-center">
        <p class="decoration-slice inline 
                  bg-gradient-to-b from-yellow-400 to-red-500 
                  leading-snug px-6 font-light text-transparent
                  text-6xl text-white">Bubbles is from a family of robots that originated from an experiment melding candy vending machines with robotics in the early 1980s.</p>
      </div> 
      <div class="text-xs font-semibold font-mono whitespace-nowrap px-2 py-1 ml-5 rounded text-white bg-pink-500 rounded-2">decoration-slice</div>
    </li>
    <li class="flex items-center justify-between px-4 py-2">
      <div class="antialiased text-center">
        <p class="decoration-clone inline 
                  bg-gradient-to-b from-yellow-400 to-red-500 
                  leading-snug px-6 font-light text-transparent
                  text-6xl text-white">Bubbles is from a family of robots that originated from an experiment melding candy vending machines with robotics in the early 1980s.</p>
      </div> 
      <div class="text-xs font-semibold font-mono whitespace-nowrap px-2 py-1 ml-5 rounded text-white bg-pink-500 rounded-2">decoration-clone</div>
    </li>
  
  </ul>
