<ul class="flex">
    <li class="mr-6">
      <a class="text-blue-500 hover:text-blue-800" href="boutton">Boutton</a>
    </li>
    <li class="mr-6">
      <a class="text-blue-500 hover:text-blue-800" href="font-directives">Font</a>
    </li>
    <li class="mr-6">
      <a class="text-blue-500 hover:text-blue-800" href="text-directives">Text</a>
    </li>
    <li class="mr-6">
      <a class="text-blue-500 hover:text-blue-800" href="list-styles">List</a>
    </li>
    <li class="mr-6">
      <a class="text-blue-500 hover:text-blue-800" href="spacing-typography">Spacing</a>
    </li>
    <li class="mr-6">
      <a class="text-gray-400 cursor-not-allowed" href="#">Disabled</a>
    </li>
</ul>
<router-outlet></router-outlet>




