<ul class="container mx-auto divide-y divide-gray-400 divide-dotted">
    <li class="flex items-center justify-between px-4 py-4">
      <div class="shadow-none h-16 w-full bg-white border border-black rounded-lg"></div>
      <div class="text-xs font-semibold font-mono whitespace-nowrap px-2 py-1 ml-2 rounded text-white bg-pink-500 rounded-2">shadow-none</div>
    </li>
    <li class="flex items-center justify-between px-4 py-4">
      <div class="shadow-inner h-16 w-full bg-white border border-black rounded-lg"></div>
      <div class="text-xs font-semibold font-mono whitespace-nowrap px-2 py-1 ml-2 rounded text-white bg-pink-500 rounded-2">shadow-inner</div>
    </li>
    <li class="flex items-center justify-between px-4 py-4">
      <div class="shadow-sm h-16 w-full bg-white border border-black rounded-lg"></div>
      <div class="text-xs font-semibold font-mono whitespace-nowrap px-2 py-1 ml-2 rounded text-white bg-pink-500 rounded-2">shadow-sm</div>
    </li>
    <li class="flex items-center justify-between px-4 py-4">
      <div class="shadow h-16 w-full bg-white border border-black rounded-lg"></div>
      <div class="text-xs font-semibold font-mono whitespace-nowrap px-2 py-1 ml-2 rounded text-white bg-pink-500 rounded-2">shadow</div>
    </li>
    <li class="flex items-center justify-between px-4 py-4">
      <div class="shadow-md h-16 w-full bg-white border border-black rounded-lg"></div>
      <div class="text-xs font-semibold font-mono whitespace-nowrap px-2 py-1 ml-2 rounded text-white bg-pink-500 rounded-2">shadow-md</div>
    </li>
    <li class="flex items-center justify-between px-4 py-4">
      <div class="shadow-lg h-16 w-full bg-white border border-black rounded-lg"></div>
      <div class="text-xs font-semibold font-mono whitespace-nowrap px-2 py-1 ml-2 rounded text-white bg-pink-500 rounded-2">shadow-lg</div>
    </li>
    <li class="flex items-center justify-between px-4 py-4">
      <div class="shadow-xl h-16 w-full bg-white border border-black rounded-lg"></div>
      <div class="text-xs font-semibold font-mono whitespace-nowrap px-2 py-1 ml-2 rounded text-white bg-pink-500 rounded-2">shadow-xl</div>
    </li>
    <li class="flex items-center justify-between px-4 py-4">
      <div class="shadow-2xl h-16 w-full bg-white border border-black rounded-lg"></div>
      <div class="text-xs font-semibold font-mono whitespace-nowrap px-2 py-1 ml-2 rounded text-white bg-pink-500 rounded-2">shadow-2xl</div>
    </li>
  </ul>